
<form  class="form" action="/auth/signin" method="POST">
{{>flashMessage}}
<label for="email">Email</label>
<input type="email" name="email" id="email">

<label for="password">Password</label>
<input type="password" name="password" id="password">

<button>Sign in</button>
<p>No account? <a href="/auth/signup">Sign Up</a></p>
</form>